.hero-thumbnail {
    max-width: 71px;
    max-height: 94px;
}


.hero-box {
    box-shadow: 3px 3px rgba(0,0,0,0.5);
    margin: 25px;
    padding: 20px;
    width: 33vh;
    align-content: center;
    text-align: center;
    background-color:rgba(20,20,20,0.9);
  }

  .hero-box:hover {
      transition: 0.4s ease;
      background: rgba(255,255,255,0.2);
  }